.new_title {
  display: flex;
  justify-content: flex-start;
  margin: 10px 0;
}
.new_content {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}
button .ant-btn {
  width: 100% !important;
}
