.banner_top {
  display: flex;
  justify-content: space-between;
}
.banner_lar {
  width: 95%;
  padding: 0 50px 0 0px;
  /* margin-right: 100px; */
  height: 100%;
  /* display: flex; */
  /* align-items: center; */
}
.banner {
  /* background: #eee; */
  padding: 100px 100px;
  min-height: 100vh;
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
}
.banner .content {
  max-width: 1000px;
}
.banner .content h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}
.banner .content p {
  font-size: 1em;
  color: #333;
}
/* .banner .content a {
  display: inline-block;
  background: #434978;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 20px;
} */
.banner_bored {
  padding: 0px;
  width: 90%;
  /* background-color: white; */
  /* border: 1px solid red; */
  margin-top: 0px;
}
.banner_source {
  margin-bottom: 30px;
}
